<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323065623240-1qusft50u5r3rb9kvfvup206e7li3mp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323065623240-1qusft50u5r3rb9kvfvup206e7li3mp4</string>
	<key>API_KEY</key>
	<string>AIzaSyC_3cxpupXpnff_s9cTswdgY1BMKp1X7TY</string>
	<key>GCM_SENDER_ID</key>
	<string>323065623240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.companyapp</string>
	<key>PROJECT_ID</key>
	<string>company-manager-js</string>
	<key>STORAGE_BUCKET</key>
	<string>company-manager-js.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323065623240:ios:3128ac7d2fcf4dab5b2bfd</string>
</dict>
</plist>